<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="js/theme.js"></script>
    <script src="js/humidityGraph.js"></script>
    <script src="js/airTemperatureGraph.js"></script>
    <script src="js/waterlevelGraph.js"></script>
    <script src="js/waterTemperatureGraph.js"></script>
  </head>
  <body>
    <div id="waterTemp" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="airTemp" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="humidity" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="waterlvl" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </body>
</html>
